.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*/.DS_Store
data/*
*.Rout
*.out
*.sh
code/2_counterfactual/__pycache__/*
code/3_analysis/*.html
figs_and_data/*
*/MAC_by_zipcode.R
MAC_by_zipcode.R
Code/3_analysis/2.5_temporal_variation.Rmd